node_modules/**
src/**
tests/**
.vscode/**
.vscode-test/**
.git/**
.gitignore
npm-debug.log
yarn-error.log
*.log
*.ts
*.map
*.test.*
coverage/**
.DS_Store
.env
.vscodeignore
package-lock.json
tsconfig*.json
.vscode/**/settings.json
.mocharc.json